.index
{
    margin-left: 0px !important;
    left: 0px !important;
}

.title
{
    letter-spacing: 0.02em;
    text-transform: none;
    font-size: 1.1em;
}

.bold
{
    font-weight: bold;
}

.center-page
{
    margin: 0 auto;
    float: none;
}

@media only screen and (min-width: 992px) 
{

    .center-page 
    {
        width: 50%;
    }
} 


.gap
{
    margin: 0 0 0 25px;
}


.errors
{
    color: red;
    font-weight: bold;
}

.white
{
    color: white !important;
}

.active
{
    color: black !important;
    font-weight: bold !important;
}

input
{
    margin-bottom: 10px;
}

.pager
{
    text-align: right;
    padding: 0 0 30px 0;
    margin: 0 0 0 0;
}

.table-responsive .pager
{
    padding-bottom: 0;
}

.black
{
    color: #222222;

}

.username
{
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.flex
{
    display: flex;
    justify-content: space-between;
    height: 60px;
}

.table-responsive .flex
{
    border-top: #dddddd solid 1px;
    padding-top: 20px;

}

.pager
{
    width: 350px;
}

.option-line
{
    display: flex;
    align-items: flex-start;
}

#selector
{
    margin: 0 10px 0 10px;
}
