webui/target/
webui/pom.xml.tag
webui/pom.xml.releaseBackup
webui/pom.xml.versionsBackup
webui/pom.xml.next
webui/release.properties
webui/dependency-reduced-pom.xml
webui/buildNumber.properties
webui/.mvn/timing.properties
webui/.idea/
webui/webui.iml
.idea/


swagger/spring-server/target/



# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/webui/.mvn/wrapper/maven-wrapper.jar

!/swagger/full-project/.idea